{% extends 'base.html.twig' %}
{% block body %}
<article>
	<h2>Titre de l'article</h2>
	<div class="metadata">Ecrit le 02/5/2020 à 15:00 dans la catégorie Politique</div>
	<div class="content">
		<img src="http://placehold.it/350x150" alt="">
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente ad pariatur architecto ipsam dolore sit.</p>
		<p>Quibusdam nam, incidunt molestias dignissimos dolorem in neque ipsum aspernatur facere harum non sint soluta.</p>
		<hr>
		(p>lorem50)*2
	</div>
</article>
{% endblock %}